@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@import 'https://fonts.googleapis.com/css?family=Sarpanch';
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Titillium Web', sans-serif;
}
body{
  text-align: center;
  background: #3c3c3c;
  font-weight: 100;
}
a {
  text-decoration: none;
}
#testText {
  margin-top: 30%;
}
#seen-canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
}
h1 {
  color: #fff;
  font-weight: 100;
  font-size: 4em;
  margin: 40px 0px 20px;
}
h2 {
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  margin: 40px 0px 20px;
}
p {
  color: #fff;
  font-weight: 100;
  font-size: 2em;
}
#arrowDown {
  opacity: 0.6;
  position: absolute;
  bottom: 30px;
  left: 49%;
  color: white;
}
#arrowDown:hover {
  cursor: pointer;
}
#testText {
  position: relative;
  margin-top:10%;
  padding-top: 500px;
  padding-bottom: 500px;
}
#testText2 {
  position: relative;
  margin-top:5%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  border: 4px solid #7F8C8D;
  border-radius: 45px;
  margin-left: 42%;
  margin-bottom: 200px;
  transition: 400ms all;
  background-color: #7F8C8D;
}
#testText2:hover {
  border: 4px solid #fff;
  cursor: pointer;
  color: #3c3c3c;
  background-color: #fff;
}
#faceIcon {
  opacity: 0.5;
  color: #7F8C8D;
  position: fixed;
  left: 50px;
  bottom: 20px;
  transition: 300ms all;
}
#faceIcon:hover {
  opacity: 1;
  cursor: pointer;
  color: #fff;
}
.invisible {
    transition: opacity 0.3s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 0.6s ease;
    opacity: 1.0;
}
#clockdiv{
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 5em;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #8FA998;
    display: inline-block;
}

#clockdiv div > span{
    min-width: 100px;
    min-height: 100px;
    padding: 15px;
    border-radius: 3px;
    background: #7f8c8d;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 0.4em;
}
/*Screen dimension specific styling*/
@media only screen
and (max-width : 479px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2em;
  }
  #testText {
    margin-top:10%;
    padding-top: 250px;
    padding-bottom: 250px;
  }
  #clockdiv{
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 3em;
  }

  #clockdiv > div{
      margin: 7px;
      padding: 10px;
      border-radius: 3px;
      background: #8FA998;
      display: inline-block;
  }

  #clockdiv div > span{
      min-width: 10px;
      min-height: 10px;
      padding: 10px;
      border-radius: 3px;
      background: #7f8c8d;
      display: inline-block;
  }

  .smalltext{
      padding-top: 5px;
      font-size: 0.5em;
  }
  #arrowDown {
    opacity: 0;
  }
    #testText {
      font-size: 1.9em;
    }
}
