* {
	border: 0;
	padding: 0;
	margin: 0;
}
@keyframes fade {
	0% {opacity: 1};
	25% {opacity: .50}
	50% {opacity: 0}
	75% {opacity: .50}
	100% {opacity: 1};
}
h1 {
	margin-top: 15%;
	position: relative;
	font-size: 700%;
	animation-name: fade;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}