* {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: "Roboto";

}
body {
	background-color: #EDE7D9;
}

#cont {
	box-sizing: border-box;
	background-color: #2980b9;
	
	width: 830px;
	height: 500px;
	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 80px;
}
#vidCont {
	position: relative;
}
#vid {
	height: 500px;
	width: 800px;
}
#selectEpisode {

}