* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 46px;
  font-family: "Arvo", sans-serif;
  border-bottom: 1px black solid;
  top: -6px;
  background-color: #E2DADB;
  margin-top: 0;
}
.navbar ul li {
  float: left;
  display: list-item;
  text-align: -webkit-match-parent;
}
.navcont {
  box-shadow: in
  position: relative;
  width: 32px;
  height: 32px;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.navlink {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  color: #000805;
  opacity: 0.7;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 150%;
  padding: 6px 16px;
  margin-top: 6px;
  border-top: 0 solid black;

}
.navlink:hover {
  opacity: 1;
  border-top: 10px solid black;
}
.arrow {
  width: 32px;
  height: 16px;
  position: fixed;
  left: 16px;
  top: 42px;
}
#login {
  position: fixed;
  right: 0;
}
.out #login{
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  border-top: 10px solid black;
  opacity: 1;
}
.cont {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  padding: 10px;
  padding-right: 5px;
}
#cont1 {
  background-color: #ffffff;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
h1 {
  margin: 0 auto;
  width: 256px;
  height: 128px;
  display: block;
  position: fixed;
  left: 45%;
  top: 90%;
  color: #EEEEEE;
  z-index: 1001;

}
.loaded h1 {
  opacity: 0;
      -webkit-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #nazicont #nazi{
  opacity: 0;
      -webkit-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out;
}
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
@keyframes nazi {
  0% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}
#nazi {
  position: fixed;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  animation: nazi 2s infinite;
  z-index: 1001;
}
#nazicont {
  display: block;
  position: fixed;
  left: 45%;
  top: 35%;
  width: 128px;
  height: 128px;
  z-index: 1001;
}
#loginPop {
  width: 310px;
  height: 200px;
  background-color: #E2DADB;
  position: fixed;
  right: -310px;
  top: 44px;
  opacity: 0;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px #666;
}
#loginBox {
  width: 310px;
  height: 180px;
  position: absolute;
  opacity: 0;
}
#createBox {
  width: 310px;
  height: 180px;
  position: absolute;
}
#loginPop .credentials {
  width: 200px;
  height: 32px;
  left: 10px;
  top: 15px;
  position: absolute;
  opacity: 1;
  border-radius: 3px;
}
#loginPop #password {
  top: 56px;
}
#loginPop #loginButton {
  top: 56px;
  right: 10px;
  position: absolute;
  width: 80px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 3px;
}
#loginPop #createButton {
  top: 56px;
  right: 10px;
  position: absolute;
  width: 80px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 3px;
}
#loginPop #createBox #userLogin {
  width: 200px;
  height: 32px;
  left: 10px;
  top: 15px;
  position: absolute;
}
#loginPop #createBox #passLogin {
  width: 200px;
  height: 32px;
  left: 10px;
  top: 56px;
  position: absolute;
}
#loginPop #loginBox #username {
  width: 200px;
  height: 32px;
  left: 10px;
  top: 15px;
  position: absolute;
}
#loginPop #loginBox #password {
  width: 200px;
  height: 32px;
  left: 10px;
  top: 56px;
  position: absolute;
}
#createUser {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 140px;
  height: 32px;
  background-color: #F5BB00;
  border-radius: 2px;
}
#loginUser {
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 140px;
  height: 32px;
  background-color: #fff;
  border-radius: 2px;
}
#errorText {
  position: absolute;
  top: 94px;
  left: 10px;
  opacity: 0;
  color: #c0392b;
  font-size: 18px;
}
