h1 {
  color: $theme-black;
  font-size: $h1Size;
}

.bigPP {
  margin-top: 1em;
}

ol,ul {

  li {
    transition: font-size 0.5s;
    font-size: $mediumText;
    &:hover {
      cursor: pointer;
      font-size: $mediumiBigText;
    }
  }
}


i {
  font-style: italic;
}
