.header {
  position: relative;
  margin-top: 0;
  width: 100%;
  background-color: $theme-black;
  text-align: center;

  transition: height 0.5s;

  h1 {
   font-size: $headerTitleBigSize;
   color: $theme-white;
   padding: 0.5em;
   transition: font-size 0.5s;

   &:hover {
     font-size: $headerTitleBigSize + 0.5em;
   }

   @include respond-below(md) {
     font-size: $headerTitleMediumSize;
     &:hover {
       font-size: $headerTitleMediumSize + 0.5em;
     }
   }

   @include respond-below(sm) {
     font-size: $headerTitleSmallSize;

     &:hover {
       font-size: $headerTitleSmallSize + 0.5em;
     }
   }
 }

 @include respond-between(md, sm) {
   height: 4em;
 }



}
