* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #210002;
  font-family: "Arvo", sans-serif;
}
body {
  background-color: #F8981B;
  overflow: hidden;

}

#loginScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background:url("Pictures/wallhaven.png") no-repeat;
  background-size: cover;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginCont {
  text-align: center;
}
.credentials {
  width: 250px;
  height: 50px;
  margin-top: 40px;
  background-color: #C7293F;
  border-radius: 10px;
  color: #530132;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  text-indent: 5px;
}
::-webkit-input-placeholder {
  color: #530132;
  text-indent: 5px;
}
#loginButton {
  width: 125px;
  height: 30px;
  border-radius: 10px;
  background-color: #FF6D41;
  margin-top: 40px;
  color: #530132;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
}
#createButton {
  width: 125px;
  height: 30px;
  border-radius: 10px;
  background-color: #FF6D41;
  margin-top: 40px;
  color: #530132;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
}
#loginTitle {
  color: #530132;
  font-size: 48px;
  margin-bottom: 60px;
  font-family: "Arvo", sans-serif;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 46px;
  font-family: "Arvo", sans-serif;
  top: -6px;
  background-color: #210002;
  margin-top: 0;
}
#navbar ul li {
  float: left;
  display: list-item;
  text-align: -webkit-match-parent;
}
.navcont {
  position: relative;
  width: 32px;
  height: 32px;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.navlink {
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  color: #FFAF00;
  opacity: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 150%;
  padding: 6px 16px;
  margin-top: 4px;
}
.navlink:hover {
  background-color: #5A1715;
}
.arrow {
  width: 32px;
  height: 16px;
  position: fixed;
  left: 16px;
  top: 42px;
}
#accountPage {
  padding-top: 46px;
  opacity: 0;
  z-index: -1;
}
#contCont {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
.account #accountButton {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  background-color: rgb(163, 67, 0);
}
.account #accountPage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
#accountPage2 {
  padding-top: 46px;
  opacity: 0;
  z-index: -1;
}
.account2 #accountPage2 {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
#gambaPage {
  opacity: 0;
  padding-top: 10%;
  z-index: -1;
}
#gambaCont {
  position: fixed;
  left: 43%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
#lessonPage {
  opacity: 0;
  padding-top: 46px;
  z-index: -1;
}
.gamba #gamba {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  background-color: rgb(163, 67, 0);
}
.gamba #gambaPage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
.lesson #lessonPage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
.quizAns {
  width: 400px;
  height: 150px;
  position: fixed;
  background-color: #210002;
  border: 3px solid #210002;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  color: #FFAF00;
  text-align: center;
  font-size: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#quizHead {
  position: fixed;
  left: 40%;
  text-align: center;
  font-size: 40px;
}
#ans1 {
  left: 15%;
  top: 20%;
}
#ans2 {
  right: 15%;
  top: 20%;
}
#ans3 {
  left: 15%;
  bottom: 20%;
}
#ans4 {
  right: 15%;
  bottom: 20%;
}
.quizAns:hover {
  background-color: #5A1715;
}
#accountCont {
  border-radius: 5px;
  color: #210002;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#accountCont2 {
  border-radius: 5px;
  color: #210002;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#miniPic {
  position: absolute;
  margin-top: 11px;
  right: 10px;
}
#newMsg {
  margin-top: 25px;
  position: fixed;
  z-index: 3;
  color: white;
  right: 32px;
  width: auto;
  height: 15px;
  background-color: #E84545;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 3px;
  padding-right: 1px;
  opacity: 0;
}
.accLink {
  text-decoration: none;
}
#miniEmail {
  direction: rtl;
  position: absolute;
  margin-top: 17px;
  right: 60px;
  color: #FFAF00;
}
#authPoints {
  direction: rtl;
  position: absolute;
  margin-top: 17px;
  right: 220px;
  color: #FFAF00;
}
.domButton {
  background-color: #210002;
  padding: 5px;
  border-radius: 20px;
  font-size: 19px;
  color: #F8981B;
  border: 3px solid #210002;
  font-family: "Arvo", sans-serif;
}
.domButton:hover {
  -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
  background-color: #F8981B;
  color: #210002;
}
#colList {
  width: 150px;
  height: 35px;
  background-color: #F8981B;
  border: 2px solid #210002;
}
.colList option {
  width: 150px;
  height: 35px;
  background-color: #F8981B;
  border: 2px solid #210002;
  padding: 3px;
}
#resetButton {
  bottom: 15px;
}

#errorText {
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  color: #FFE9DC;
}
#accountInfo {
  width: 500px;
  height: 100%;
  background-color: #210002;
  position: fixed;
  right: -500px;
  top: 40px;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  color: #FFAF00;
  border-radius: 3px;
  z-index: 97;
}
#wagerText {
  background-color: #210002;
  color: #FFAF00;
  height: 32px;
  font-size: 20px;
}
#messageBox {
  width: 500px;
  height: 94%;
  background-color: #210002;
  position: relative;
  float: left;
}
#messageText {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #210002;
  color: #FFAF00;
  height: 32px;
  font-size: 20px;
  width: 500px;
  float: left;
  border-top: 2px solid #FF6D41;
  margin-top: 10px;
}
#messageCont {
  position: absolute;
  width: 500px;
  height: 95%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
}
.message {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #210002;
  text-align: justify;
  border-bottom: 2px solid #F8981B;
  word-wrap: break-word;
  z-index: 98;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #5A1715;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F8981B;
}
#expBar {
    background-color: #5A1715;
    border: 4px solid #5A1715;
    height: 18px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
}
#expBar2 {
    background-color: #5A1715;
    border: 4px solid #5A1715;
    height: 18px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
}
.ui-progressbar-value {
  background-color: #FFAF00;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
#loginCont {
  margin-bottom: 50%;
}
#username {
  width: 700px;
  height: 125px;
  font-size: 36px;
}
#password {
  width: 700px;
  height: 125px;
  font-size: 36px;
}
#loginButton {
font-size: 30px;
width: 275px;
height: 65px;
margin-top: 40px;
}
#createButton {
font-size: 30px;
width: 275px;
height: 65px;
margin-top: 40px;
}
#loginTitle {
  font-size: 70px;
  margin-bottom: 50%;
}
#accountInfo {
  width: 300px;
  height: 300px;
  font-size: 22px;
}
}
