* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #210002;
  font-family: "Arvo", sans-serif;
  outline: none;
}
a {
  text-decoration: none;
  color: #FFAF00;
}
th {
  text-align: center;
  border-bottom: 5px solid rgb(163, 67, 0);
  font-size: 18px;
  padding-bottom: 10px;
}
input {
  text-indent: 5px;
}
tr {
  text-align: center;
}
td {
  color: #210002;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom: 5px solid rgb(163, 67, 0);
}
body {
  background-color: #F8981B;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
}

#loginScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background:url("Pictures/wallhaven.png") no-repeat;*/
  background-color: white;
  background-size: cover;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginCont {
  text-align: center;
}
.credentials {
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border-radius: 1.5em;
  outline: none;
  text-indent: 5px;
  background-color: white;
  color: black;
  margin-top: 20px;
  border: 0.1em solid black;
  min-width: 500px;
}
::-webkit-input-placeholder {
  color: black;
  text-indent: 5px;
}
#bgLink {
  width: 250px;
  height: 25px;
  background-color: white;
  border-radius: 3px;
  color: black;
  font-size: 15px;
  font-family: "Arvo", sans-serif;
  text-indent: 5px;
}
#loginButton {
  width: 125px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
  color: black;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  border: 0.1em solid black;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
#loginButton:hover {
background-color: black;
color: white;
}
#createButton {
  width: 125px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
  color: black;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  border: 0.1em solid black;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
#createButton:hover {
  background-color: black;
  color: white;
}
#loginTitle {
  color: black;
  font-size: 56px;
  margin-bottom: 60px;
  font-family: "Arvo", sans-serif;
}
#activeUsers {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
#navbar {
  position: fixed;
  width: 100%;
  height: 46px;
  font-family: "Arvo", sans-serif;
  top: -6px;
  background-color: white;
  margin-top: 0;
  z-index: 10;
}
#navbar ul li {
  float: left;
  display: list-item;
  text-align: -webkit-match-parent;
}
.navcont {
  position: relative;
  width: 32px;
  height: 32px;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.navlink {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  color: black;
  opacity: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 150%;
  padding: 6px 16px;
  margin-top: 4px;
}
.navlink:hover {
  color: black;
}
#accountPage {
  padding-top: 46px;
  opacity: 0;
  z-index: -2;
}
#accountCont {
  position: fixed;
  left: 42%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
#contCont {
  height: 100%;
  width: 100%;
}
.account #accountButton {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  border-bottom: 4px solid black;
}
.leaderboard #leaderboard {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  border-bottom: 4px solid black;
}
.leaderboard #leaderboardPage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
#leaderboardPage {
  opacity: 0;
  z-index: -10;
  position: relative;
  padding-top: -20px;
}
#leaderboardCont {
  position: relative;
}
#trophy {
  height: 150px;
  width: auto;
  margin-bottom: 30px;
}
.account #accountPage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
#accountPage2 {
  position: fixed;
  padding-top: 46px;
  opacity: 0;
  z-index: -2;
  left: 42%;
}
#accountCont2 {

  left: 42%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
.account2 #accountPage2 {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
#gambaPage {
  opacity: 0;
  padding-top: 46px;
  z-index: -5;
}
#gambaCont {
  position: fixed;
  left: 42%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
#lvlUp {
  position: fixed;
  width: 300px;
  height: 40px;
  top: -40px;
  background-color: white;
  color: black;
  border-radius: 3px;
  right: 10px;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  z-index: 100;
}
#lessonPage {
  opacity: 0;
  padding-top: 46px;
  z-index: -10;
}
.gamba #gamba {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  border-bottom: 4px solid black;
}
.gamba #gambaPage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
.feature #feature {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  border-bottom: 4px solid black;
}
.feature #featurePage {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          opacity: 1;
          z-index: 1;
}
#featurePage {
  position: absolute;
  opacity: 0;
  z-index: -10;
  width: 100%;
  height: auto;
  top: 66px;
  overflow-y: auto;
}
#featureCont {
  color: #210002;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 3px solid #210002;
  margin-left: 5px;
  margin-right: 5px;
}
#suggestBox {
  min-height: 150px;
  max-height: 150px;
  min-width: 250px;
  max-width: 250px;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 3px;
  font-size: 16px;
}
.suggestion {
  width: 300px;
  min-height: 200px;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 10px;
  word-wrap: break-word;
  text-align: center;
}

#accountCont {
  border-radius: 5px;
  color: #210002;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#miniPic {
  position: absolute;
  margin-top: 11px;
  right: 10px;
}
#newMsg {
  margin-top: 25px;
  position: fixed;
  z-index: 3;
  color: white;
  right: 32px;
  width: auto;
  height: 15px;
  background-color: #E84545;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 3px;
  padding-right: 1px;
  opacity: 0;
}
.accLink {
  text-decoration: none;
}
#miniEmail {
  direction: rtl;
  position: absolute;
  margin-top: 17px;
  right: 60px;
  color: #FFAF00;
}
#authPoints {
  direction: rtl;
  position: absolute;
  margin-top: 17px;
  right: 260px;
  color: #FFAF00;
}
#lvlCont {
  position: absolute;
  display: block;
  right: 220px;
  color: #210002;
  border-radius: 360px;
  width: 28px;
  height: 28px;
  text-align: center;
  margin-top: 12px;
}
.authLvl {
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}
.domButton {
  position: relative;
  background-color: black;
  padding: 5px;
  border-radius: 17px;
  font-size: 19px;
  color: #F8981B;
  font-family: "Arvo", sans-serif;
}
.domButton:hover {
  -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
  background-color: white;
  color: #210002;
}
#colList {
  width: 150px;
  height: 35px;
  background-color: #F8981B;
  border: 2px solid #210002;
}
.colList option {
  width: 150px;
  height: 35px;
  background-color: #F8981B;
  border: 2px solid #210002;
  padding: 3px;
}
#resetButton {
  bottom: 15px;
}

#errorText {
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  color: black;
}
#accountInfo {
  width: 500px;
  height: 100%;
  background-color: #210002;
  position: fixed;
  right: -500px;
  top: 40px;
  font-size: 18px;
  font-family: "Arvo", sans-serif;
  color: #FFAF00;
  border-radius: 3px;
  z-index: 97;
}
#wagerText {
  background-color: white;
  color: black;
  height: 32px;
  font-size: 20px;
}
#messageBox {
  width: 500px;
  height: 94%;
  background-color: black;
  position: relative;
  float: left;
}
#messageText {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  height: 32px;
  font-size: 20px;
  width: 500px;
  float: left;
  border-top: 2px solid #FF6D41;
  margin-top: 10px;
}
#messageCont {
  position: absolute;
  width: 500px;
  height: 95%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
}
.message {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: justify;
  border-bottom: 2px solid #F8981B;
  word-wrap: break-word;
  z-index: 98;
}
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}
.expBar {
    background-color: black;
    border: 2px solid black;
    height: 18px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
}
#expBar2 {
    background-color: #5A1715;
    border: 4px solid #5A1715;
    height: 18px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
}
.ui-progressbar-value {
  background-color: #FFAF00;
}
.progress {
  top: 0;
  position: absolute;
  height: 30px;
}
.progress > svg {
  height: 100%;
  display: block;
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
#loginCont {
  margin-bottom: 50%;
}
#username {
  width: 700px;
  height: 125px;
  font-size: 36px;
}
#password {
  width: 700px;
  height: 125px;
  font-size: 36px;
}
#loginButton {
font-size: 30px;
width: 275px;
height: 65px;
margin-top: 40px;
}
#createButton {
font-size: 30px;
width: 275px;
height: 65px;
margin-top: 40px;
}
#loginTitle {
  font-size: 70px;
  margin-bottom: 50%;
}
#accountInfo {
  width: 300px;
  height: 300px;
  font-size: 22px;
}
}
